<header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
  <!-- Navbar -->
  <nav class="s-header-v2__navbar" >
      <div class="container g-display-table--lg" style="padding: 0;">
          <!-- Navbar Row -->
          <div class="s-header-v2__navbar-row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="s-header-v2__navbar-col">
                  <button type="button" class="collapsed s-header-v2__toggle g-margin-r-10--xs" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                      <span class="s-header-v2__toggle-icon-bar"></span>
                  </button>
              </div>

              <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                  <!-- Logo -->
                  <div class="s-header-v2__logo">
                      <a href="/" class="s-header-v2__logo-link">
                          <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="../../public/img/logo/logo-dark.png" alt="logo" height="50">
                          <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="../../public/img/logo/logo-dark.png" alt="logo" height="50">
                      </a>
                  </div>
                  <!-- End Logo -->
              </div>

              <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right" style="margin-right: 0px;">
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                      <ul class="s-header-v2__nav">
                        <li class="s-header-v2__nav-item"><a href="/" class="s-header-v2__nav-link">Home</a></li>
                        <li class="s-header-v2__nav-item"><a href="/about" class="s-header-v2__nav-link">How it works</a></li>
                        <li class="s-header-v2__nav-item"><a href="/explore_campaign" class="s-header-v2__nav-link">See Reports</a></li>
                        <!--<li class="s-header-v2__nav-item" *ngIf="session == false"><a href="/start_campaign" class="s-header-v2__nav-link">Start A Campaign</a></li>-->
                        <!--<li class="s-header-v2__nav-item" *ngIf="session == true"><a href="/dashboard" class="s-header-v2__nav-link">NGO Dashboard</a></li>-->
                        <li class="s-header-v2__nav-item"><a href="/login" class="s-header-v2__nav-link">Login</a></li>
                        <!--<li class="s-header-v2__nav-item"><a href="/cart" class="s-header-v2__nav-link">-->
                          <!--Cart <span class="g-font-size-15&#45;&#45;xs g-margin-l-5&#45;&#45;xs ti-shopping-cart"></span>-->
                          <!--&lt;!&ndash;<span *ngIf="cartListLength > 0" class="badge g-bg-color&#45;&#45;primary">{{cartListLength}}</span>&ndash;&gt;-->
                        <!--</a></li>-->
                      </ul>
                  </div>
                  <!-- End Nav Menu -->
              </div>
          </div>
          <!-- End Navbar Row -->
      </div>
  </nav>
  <!-- End Navbar -->
</header>
