<footer class="g-padding-x-30--xs g-padding-y-20--xs g-padding-x-60--md g-bg-color--dark">
   <!-- Links -->
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <img src="../../public/img/logo/logo-light.png" alt="" height="20">
          </div>
            <div class="col-xs-12 col-sm-4">
              <p class="g-font-size-13--xs g-text-center--md g-margin-b-0--xs g-color--white-opacity">
                <a class="s-header__action-link" href=" https://m.facebook.com/vnitecell/" target="_blank">
                    <i class="g-color--white-opacity g-padding-r-5--xs ti-facebook"></i>
                </a>
                <a class="s-header__action-link" href=" https://www.instagram.com/ecellvnit/" target="_blank">
                    <i class="g-color--white-opacity g-padding-r-5--xs ti-instagram"></i>
                </a>
                <a class="s-header__action-link" href="https://twitter.com/ecell_vnit" target="_blank">
                    <i class="g-color--white-opacity g-padding-r-5--xs ti-twitter"></i>
                </a>
                <a class="s-header__action-link" href=" https://www.linkedin.com/company/6615520/" target="_blank">
                    <i class="g-color--white-opacity g-padding-r-5--xs ti-linkedin"></i>
                </a>
              </p>
            </div>
          <div class="col-xs-12 col-sm-4">
              <p class="g-font-size-13--xs g-text-right--md g-margin-b-0--xs g-color--white-opacity">
                © 2020 <a class="g-color--white-opacity g-font-size-13--xs" href="/" target="_blank">MDM Anatytica</a>
              </p>
            </div>
          </div>
        <!--<div class="row g-padding-y-25&#45;&#45;xs g-padding-y-0&#45;&#45;lg"></div>-->
    </div>

</footer>
