<div class="g-container--md">
        <div class="g-margin-b-60--xs g-text-center--xs g-text-left--sm">
            <h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1 g-color--dark">Connect Camera</h2>
            <div class="row">
              <div class="col-sm-8">
                <p>Camera Status: OFF</p>
                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--primary-bg g-radius--50 g-padding-x-50--xs g-margin-r-10--xs">Connect Camera</a>
              </div>

            </div>
        </div>
    </div>
