<div class="g-bg-color--white g-hor-divider__dashed--sky-light">
    <div class="g-container--md">
        <div class="g-margin-b-60--xs g-text-center--xs g-text-left--sm">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs g-text-center--xs g-text-left--sm">Welcome, School XYX</p>
            <h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1 g-color--dark">Your Reports</h2>
            <div class="row">
              <!--<div class="col-xs-6 col-md-4 col-lg-2 g-padding-y-15&#45;&#45;xs g-padding-x-5&#45;&#45;xs g-padding-x-15&#45;&#45;md">-->
                <!--<app-artist-design></app-artist-design>-->
              <!--</div>-->
              <!--<div class="col-xs-6 col-md-4 col-lg-2 g-padding-y-15&#45;&#45;xs g-padding-x-5&#45;&#45;xs g-padding-x-15&#45;&#45;md">-->
                <!--<app-artist-design></app-artist-design>-->
              <!--</div>-->
              <!--<div class="col-xs-6 col-md-3 col-lg-2 g-padding-y-15&#45;&#45;xs g-padding-x-5&#45;&#45;xs g-padding-x-15&#45;&#45;md">-->
                  <!--<div routerLink="/dashboard/add_design" class="add_design g-radius&#45;&#45;4 g-text-left&#45;&#45;xs g-padding-x-10&#45;&#45;xs g-padding-y-10&#45;&#45;xs">-->
                      <!--<i class="material-icons g-font-size-50&#45;&#45;xs add">add</i>-->
                  <!--</div>-->
                  <!--<p class="g-font-size-12&#45;&#45;xs g-color&#45;&#45;primary">Add a new design</p>-->
              <!--</div>-->
            </div>
           <!--<a routerLink="/dashboard/designs" class="text-uppercase s-btn s-btn&#45;&#45;xs s-btn&#45;&#45;primary-brd g-radius&#45;&#45;50 g-padding-x-30&#45;&#45;xs g-margin-t-20&#45;&#45;xs">View All</a>-->
        </div>
    </div>
</div>
<div class="g-bg-color--white g-hor-divider__dashed--sky-light">
    <div class="g-container--md g-padding-y-10--xs g-margin-t-40--xs g-text-center--xs g-text-left--sm">
        <div class="g-margin-b-60--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Guide</p>
            <h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1 g-color--dark">Trouble in Get Started?</h2>
          <p class="g-color--dark-light">We want your T shirts to look amazing. That’s why we’ve made prepping your designs super easy! Learn how to set up your files to get the perfect image sizing & quality.</p>
           <a routerLink="/dashboard" class="text-uppercase s-btn s-btn--xs s-btn--primary-brd g-radius--50 g-padding-x-30--xs">Read more</a>
        </div>
    </div>
</div>

<div class="g-bg-color--white g-hor-divider__dashed--sky-light">
    <div class="g-container--md g-padding-y-10--xs g-margin-t-40--xs g-text-center--xs g-text-left--sm">
        <div class="g-margin-b-60--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Help</p>
            <h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1 g-color--dark">Need Any help?</h2>
            <p class="g-color--dark-light">We’ve got your back! Whether you have questions about your files, setting up your products, publishing your shop, or you just want to say hello — we’re here!</p>
           <a routerLink="/dashboard" class="text-uppercase s-btn s-btn--xs s-btn--primary-brd g-radius--50 g-padding-x-30--xs">Contact</a>
        </div>
    </div>
</div>
