<article>
    <!--<img class="img-responsive" src="{{image}}" width="100%" alt="Image">-->
    <div class="caption g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-left--xs g-padding-x-10--xs g-padding-y-15--xs">
        <div class="g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--1">Monday</div>
        <div class="price-star">
          <div class="g-font-size-13--xs g-color--dark g-font-weight--600 price">Total Students Reported: <span class="g-font-weight--400 g-font-size-12--xs strike">120</span> Total Students Detected: <span class="g-font-weight--400 g-font-size-12--xs strike">110</span></div>
          <div class="g-font-size-13--xs g-color--dark g-font-weight--600 price">Food Reported: <span class="g-font-weight--400 g-font-size-12--xs strike">Dal, Rice</span> Food Detected: <span class="g-font-weight--400 g-font-size-12--xs strike"> Dal, Rice</span></div>
        </div>
        <div class="g-font-size-11--xs g-letter-spacing--1 g-color--dark">
         <a class="g-font-size-11--xs g-color--primary" href="/">View full Report</a>
        </div>
    </div>
</article>
