<app-header></app-header>
<div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide slide1">
    <div class="container g-ver-center--xs g-margin-t-30--xs">
        <div class="row">
            <div class="col-md-7">
                <div class="g-margin-b-30--xs">
                  <h3 class="g-font-size-20--xs g-font-size-36--sm g-font-size-36--md g-color--dark">Welcome to MDM Anatytica!</h3>
                    <h1 class="g-font-size-32--xs g-font-size-45--sm g-font-size-55--md g-color--dark">Automated auditing and monitoring of the MDM scheme</h1>
                    <p class="g-font-size-18--xs g-font-size-22--sm g-color--dark">powered by CISCO MERAKI</p>
                </div>
                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--primary-bg g-radius--50 g-padding-x-50--xs g-margin-r-10--xs">Login</a>
                <a href="" class="text-uppercase s-btn s-btn--xs s-btn--dark-brd g-radius--50 g-padding-x-50--xs">See Reports</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
